<div class="body">
    <div>
        <h3>Задачи</h3>
    </div>

    <div class="todos">
        {{#if todos.length}}
        <ul class="todos-list">
            {{#each todos}}
            <li class="todo-item">

                <div>
                    {{#if this.completed}}
                    <a class="todos-link  line-through" href="/todo/{{@key}}">{{this.title}}</a>
                    {{else}}
                    <a class="todos-link" href="/todo/{{@key}}">{{this.title}}</a>
                    {{/if}}
                </div>

                <div class="btns">
                    <button data-id="{{this.id}}" type="submit" class="btn  btn-save">Выполнено</button>
                    <button data-id="{{this.id}}" type="submit" class="btn  btn-delete">Удалить</button>
                </div>

            </li>
            {{/each}}
        </ul>
        {{else}}
        <p class="text">список задач пуст</p>
        {{/if}}
    </div>

    <form action="/todos" class="form" method="POST">
        <h4 class="form-title">Добавить задачу</h4>
        <input class="title-task" type="text" name="title" placeholder="Название">
        <input class="btn btn-add" type="submit" value="Создать задачу">
    </form>
</div>