<div class="mx-auto w-75">
    <div>
        <h3>Todo:</h3>
        <ul class="list-group">
            {{#each todos}}
                <li class="list-group-item d-flex justify-content-between">
                    <div class="mt-2">
                        {{#if this.done}}
                        <a class="text-primary done" href="/todo/{{@key}}">{{this.label}}</a>
                        {{else}}
                        <a class="text-primary" href="/todo/{{@key}}">{{this.label}}</a>
                        {{/if}}
                    </div>
                    <span>
                        <button type="button" data-id="{{this.id}}" class="btn btn-outline-success btn-md float-right">
                            Done
                        </button>
                        <button type="button" data-id="{{this.id}}" class="btn btn-outline-danger btn-md float-right mr-1">
                            Delete
                        </button>
                    </span>
                </li>
            {{/each}}
        </ul>
    </div>
    <div>
        <form action="/todo" method="POST">
        <div class="form-group d-flex justify-content-between mt-2">
            <input class="form-control" type="text" name="label" placeholder="What needs to be done?">
            <button type="submit" class="btn btn-primary btn-sm ml-2">Add</button>
        </div>
        </form>
    </div>
</div>