<div>
	<h2>Задачи на сегодня:</h2>
	<ol class="todo__list">
		{{#each tasks}}
		<li class='todo__item'>
			<div class='task'>
				<div>
					{{#if completed}}
					<input data-id='{{this._id}}' checked class="complete" type="checkbox">
					<b>{{this.title}}</b>
					{{else}}
					<input data-id='{{this._id}}' class="complete" type="checkbox">
					<b>{{this.title}}</b>
					{{/if}}
				</div>
				<button data-id='{{this._id}}' class="delete__btn">&times;</button>
			</div>
			<hr>
		</li>
		{{/each}}
	</ol>
</div>
{{>form}}