{{#if todos.length}}
<div class="todo-block">
    <ul class="todos">
        <form action="/complete" method="POST">
            {{#each todos}}
            <li class="todo">
                <label>
                    {{#if completed}}
                    <input type="checkbox" class="filled-in" checked name="checked" value="{{_id}}">
                    <span class="completed">{{title}}</span>
                    {{else}}
                    <input type="checkbox" class="filled-in" name="checked" value="{{_id}}">
                    <span>{{title}}</span>
                    {{/if}}
                </label>
            </li>
            {{/each}}

            <button class="btn waves-effect waves-light" type="submit" name="action">
                Save
                <i class="material-icons right">filter_drama</i>
            </button>
        </form>
    </ul>
    <ul class="todos-remove">
        {{#each todos}}

        <li class="delete-btns">
            <label>
                <form action="/delete" method="POST">

                    <button class="btn waves-effect waves-light red" style="border-radius:100%; width:38px; padding:0;"
                        type="submit" name="action">
                        <i class="material-icons">delete_forever</i>
                    </button>
                    <input type="hidden" name="id" value="{{_id}}">
                </form>
            </label>
        </li>

        {{/each}}
    </ul>
</div>

{{else}}
<p style="padding: 15px;">No todos :(</p>
{{/if}}