<div class="body">
    <h4>Do you need something to be done?</h4>
    <form action="/tasks" class="form" method="POST">
        <h4 class="form-title"></h4>
        <input class="form-control form-control-sm input-task" type="text" name="title" placeholder="Enter a task">
        <input class="btn btn-primary add-btn" type="submit" value="Add a task">
    </form>
    <div>
    </div>
    <div class="tasks">
        {{#if tasks.length}}

        <ul class="tasks">

            {{#each tasks}}
            <li class="task">
                <div>
                    {{#if this.completed}}
                    <a class="tasks-link line-through" href="/task/{{this._id}}">{{this.title}}</a>
                    {{else}}
                    <a class="tasks-link" href="/task/{{this._id}}">{{this.title}}</a>
                    {{/if}}
                </div>

                <div class="btns">
                    <button data-index="{{this.id}}" type=" submit" class="btn btn-success btn-save">Done</button>
                    <button data-index="{{this.id}}" type="submit" class=" btn btn-danger btn-delete">Delete</button>
                </div>

            </li>
            {{/each}}
        </ul>
        {{else}}
        <p class="done-txt">All your tasks are done!</p>
        {{/if}}
    </div>

</div>