<h1>Выши задачи</h1>

{{#if tasks.length}}
{{#each tasks}}
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{title}}</span>
          <p class="description">{{description}}</p>
        </div>
        <div class="card-action star">
          <a href="/done/{{id}}" target="_blank"><i class="material-icons">zoom_in</i></a>
          <a href="/done/{{id}}/edit?allow=true"><i class="material-icons">edit</i></a>
        </div>
      </div>
    </div>
  </div>
{{/each}}
{{else}}
<p>пусто</p>
{{/if}}